$negro: #111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$azul: #3E60E9;
$azulHover: #254BE6;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {
	background: #F1F1F1;
	font-family: 'Roboto', sans-serif;
	transition: 0.3s ease all;

	&.dark{
		background: rgb(2, 0, 74);
	}
}

a {
	color: $grisOscuro;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
}

.contenedor {
	width: 100%;
}

// ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
nav {
	background: $blanco;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 20px;
	border-radius: 5px;
	transition: .3s ease all;
	box-shadow: $sombraDark;

	body.dark & {
		background: $grisOscuro;
		box-shadow: $sombraDark;
		a{
			color: $blanco;
			&:hover{
				color:$grisClaro;
			}
		}
		.logotipo:hover{
			color: $blanco;
		}
	}

	.logotipo {
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
		&:hover{
			color: $grisOscuro;
		}
	}

	.enlaces {
		display: flex;
		align-items: center;
		a {
			margin-right: 40px;
			&:hover {
				color: #707070;
			}
		}
	}
}

// ----- ----- ----- ----- ----- Switch ----- ----- ----- ----- ----- 
.switch{
	background: #343d5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;

	&::after{
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		background: #F1F1F1;
		top: 0;
		left: 0;
		right: unset;
		border-radius: 100px;
		transition: .3s ease all;
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	}
	&.active{
		background: orange;
		color: #000;
		&::after{
			right: 0;
			left: unset;
		}
	}
	span{
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		background: none;
		color: #fff;
	}
}

// ----- ----- ----- ----- ----- GRID ----- ----- ----- ----- ----- 

h2{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 35px;
	font-family: "Roboto", sans-serif;

	body.dark & {
		color: $grisClaro;
	}
}

li{
	font-size: 25px;
	text-align: justify;
	margin: 30px 50px 20px 80px;

	body.dark & {
		color: $blanco;
	}
}

.a{
	margin-left: 80px;
	font-size: 20px;
	margin-top: 30px;

	body.dark & {
		color:$blanco
	}
}
  
.span{
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 30px;
	font-size: 30px;
	color:rgb(55, 0, 104);

	body.dark & {
		color:rgb(255, 130, 52); 
	}
}

section{
	width: 100%;
}

footer{
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 50px;

	body.dark &{
		color: #F1F1F1;
	}
}